/* AllUsers.module.css */

.display {
    display: flex;
    padding: 20px;
    justify-content: center;
    width: 70vw;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    max-width: 1200px;
    margin-bottom: 10px;
  }
  
  .header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(118, 115, 115);
    font-size: 1.8vw;
    margin: 0;
  }
  
  .cardDisplays {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: auto;
    padding: 20px;
    border-top: 1px solid #b5b1b1;
  }
  