/* Animals.module.css */

.display {
  display: flex;
  padding: 20px; 
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw; /* Set the width to 100% */
  max-width: 1200px; /* Set a maximum width for better readability */
  margin-bottom: 10px; /* Center the header within the available width */
}

.header h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: rgb(118, 115, 115);
  font-size: 1.8vw;
  margin: 0; /* Remove default margin */
}

.createAnimalButton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8vw;
  padding: 5px 10px;
  background: #D21312;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for smoother hover effect */
}

.createAnimalButton:hover {
  background-color: #45a049; /* Darker green color on hover */
}

.cardDisplays {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
  margin-top: auto;
  padding: 20px;
  border-top: 1px solid #b5b1b1;
}
