/* AnimalCard.module.css */

.animal {
    border: 1px solid #ddd;
    margin: 1%;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(69, 42, 42, 0.1);
    transition: box-shadow 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 33vh;
}

.animal:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.animalInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: rgb(118, 115, 115);
}

.animalInfo img {
    width: 100%;
    height: 100%;
    max-height: 180px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.dog {
    font-weight: bold;
    margin-bottom: 5px; 
    margin-top: 13px; 
    color: rgb(17, 16, 16);
}



