/* Animals.module.css */

.display {
  display: flex;
}

.header {
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw; /* Set the width to 100% */
  max-width: 1200px; /* Set a maximum width for better readability */
  margin-bottom: 10px; /* Center the header within the available width */
}

.header h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: rgb(118, 115, 115);
  font-size: 1.8vw;
  margin: 0; /* Remove default margin */
}

.createAnimalButton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
  color: grey;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.add {
  margin-right: 10px;
}

.cardDisplays {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: left;
  margin-top: auto;
  padding: 20px;
  border-top: 1px solid #b5b1b1;
}
