* {
  padding: 0;
  margin: 0;
}

.title-bar-container {
  display: flex;
}

.title-bar-left {
  display: flex;
}


/* END OF TITLE BAR*/

/* START OF TRAINING LOG CARD */
.training-card-container {
  display: flex;
  justify-content: space-between;
  width: 1165px;
  height: 162px;
  border: 1px solid #E5E5E5;
}
/* END OF TRAINING LOG CARD */