/* Sidebar.module.css */

.sidebar {
    padding: 10px;
    margin-top: 75px;
    position: fixed;
    width: 20vw;
    top: 0;
    bottom: 0;
    color: #777;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .top {
    padding: 20px;
  }
  
  .userContainer {
    display: flex;
    flex-direction: column;
  }
  
  .sidebarTab {
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    height: 50px;
    padding-left: 10px;;
    cursor: pointer;
  }
  
  .sidebarTabActive {
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #D21312;
    height: 50px;
    padding-left: 10px;;
    border-radius: 10px;
    color: white;
  }
  
  .sidebarIcon {
    margin-right: 10px;
  }
  
  .adminContainer {
    border-top: 1px solid #555;
  }
  
  .sidebarHeader {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px; 
    margin-bottom : 10px;
  }
  
  .bottom {
    margin-top: auto;
    padding: 20px;
    border-top: 1px solid #b5b1b1;
  }
  
  .userInfoContainer {
    display: flex;
    align-items: center;
  }
  
  .userInfoLeft {
    margin-right: 10px;
  }
  
  .userLogo {
    width: 30px;
    height: 30px;
    background-color: #D21312;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .firstLetter {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
  }
  
  .userInfoRight {
    display: flex;
    flex-direction: column;
  }
  
  .userName {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .userIdentifier {
    font-size: 0.8rem;
    color: #888;
  }
