.titleBarContainer {
    position: fixed;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    box-shadow: 0px 4px 4px #00000040;
    height: 70px;
    width: 100%;
    background-color: white;
  }
  
  .titleBarLeft {
    display: flex;
    margin-left: 49px;
    width: 251px;
    align-items: center;
  }

  .titleBarLeft > h1 {
    font-size: 40px;
    margin-left: 10px;
  }
  
  .appLogo {
    width: 80px;
  }

  .titleBarRight {
    display: flex;
    align-items: center;
    margin-left: 150px;
    border: 1.5px solid #00000094;
    border-radius: 10px;
    width: 50%;
    height: 40px;

  }

.titleBarSearch {
    display: flex;
    justify-content: space-between;
    width: 99%;
}

.titleBarSearchLogo {
    width: 25px;
    height: 25px;
    background-color: transparent;
    margin-right: 8px;
    margin-left: 22px;
}

  .titleBarSearchBar {
    border-color: transparent;
    color: #00000094;
    font-size: 18px;
    width: 100%;
  }
  
  