.trainingCardContainer {
    display: flex;
    margin: 30px 60px 0px 130px;
    height: 150px;
    border: 1px solid #E5E5E5;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000021;
  }

  .trainingCardContainer > div {
    height: 100%;
  }
  
  .trainingCardLeft {
    display: flex;
    width: 80%;
  }

  .trainingCardDate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #070A52D9;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 150px;
  }

  .day {
    font-size: 48px;
    margin: 0ch;
  }

  .monthYear {
    font-size: 25px;
    margin: 0;
  }

  .trainingCardInfo {
    width: 700px;
    overflow: scroll;
    margin-left: 20px;
  }

  .title {
    font-size: 30px;
    color: #260101;
  }

  .subInfo {
    color: #999999;
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
  }

  .description {
    overflow: scroll;
    font-size: 20px;
    margin: 0;
  }

  .trainingCardRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .editButton {
    width: 80px;
    height: 80px;
    margin-right: 30px;
  }