.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px; /* Set a maximum width for better readability */
    margin-bottom: 10px; /* Center the header within the available width */
  }